/* Add your styling here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/*I HAVE BIG TITS*/

header {
    background-color: #e79cb9;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

svg {
    border: solid lightgrey;
}