/* Add your styling here */
body {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    font-family: Arial, sans-serif;
    background-color: #29385f;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {

    from {
        opacity: 0;
    }
        to {
            opacity: 1;
        }

}


header {
    color: white;
    padding: 1rem;  
}

:root {--nav-h:64px;}

#navbar {
  position: fixed;
  z-index: 1000; /*stays overlayed*/
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #1e2a47;
  box-shadow: 0 4px 8px -2px rgb(224, 210, 199, 0.2);
  padding: 1rem;
  
}



#navbar ul li {
    margin:0;
    list-style-type: none;
    font-size: 25px;
    color:#29385f;
    background-image: linear-gradient(rgb(211 219 240), rgb(122 144 201));
    display: block;
    padding: 16px 16px;
    float: right;
    transform: translateX(-10rem) 
  
}


main { padding-top: var(--nav-h); }


#title {
    position:relative;
    min-height: 55vh;
    overflow: hidden;
    display: grid;
    place-items:center;
   
}

#myVideo {
  position: absolute;
   width:100%;
   opacity: 0.35;
   min-height: 115vh;
   display:grid;
   object-fit: cover;
   z-index: 0;
     inset: 0;   
}


.overlaytitle  {
    position:relative;
    background-image: linear-gradient(rgba(122, 144, 201, 0.658), rgb(51 65 94));
    padding: clamp(15rem, 4vw, 3rem);
    margin: 5rem;
    border-radius: 3rem;
    width: min(90rem, 80%);
}

/* 2) Rainbow GLOW behind it (only outside the box) */
.overlaytitle::before{
  content: "";
  position: absolute;
  inset: -10px;             /* how far the glow extends past the edges */
  border-radius: inherit;
  background: linear-gradient(45deg,
    #89e7d8, #93a5fc, #c188fd,rgb(187, 250, 229));
  filter: blur(5px);       /* softness of the glow */
  opacity: 0.8;             /* strength of the glow */
  z-index: -1;              /* ***behind the card*** */
  pointer-events: none;
}

.overlaytitlewords h1 {
    
    margin: 1rem 0 .5rem 0;
    z-index: 1;
    color: #d3dbf0;
    text-align: left;
    font-size:6rem;
    width: min(200rem, 85%);
 
   
}

.overlaytitlewords p {
    position:relative;
    color: #7A90C9;
    margin:0 0 1rem 0;
    font-size: clamp(0.5rem, 7vw, 4rem);
    width: min(100rem, 60%);
    
}

/*About Me Button*/

.aboutbtn {
    background-color:#29385f;
    padding: 1rem;
    color:aquamarine;
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    border-radius: 4.5rem;
    margin-left:10rem;
    display: inline-block;
    margin: 2.5rem 0 0 0;    /* REMOVE: margin-left:10rem; */
   
    
}


.aboutbtn:hover, .aboutbtn:active {

 box-shadow: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );


}





svg {
    border: solid lightgrey;
}